[submodule "ADS"]
	path = ADS
	url = https://github.com/pcdshub/ADS.git
	branch = github-master
[submodule "TwinCATexample"]
	path = TwinCATexample
	url = https://torstenbogershausen@bitbucket.org/europeanspallationsource/tc_ads_example.git
[submodule "testIOC"]
	path = testIOC
	url = https://github.com/pcdshub/lcls-plc-tst-tcads.git
