[submodule "ADS"]
	path = ADS
	url = /afs/slac.stanford.edu/g/cd/swe/git/repos/package/epics/modules/ADS.git
	branch = github-master
[submodule "TwinCATexample"]
	path = TwinCATexample
	url = https://torstenbogershausen@bitbucket.org/europeanspallationsource/tc_ads_example.git
